/* 15.6" laptop with resolution 1920x1080 will have
width = 1280px and height = 578.
These are the lowest max-width/max-height values that
adjust for this. I have no idea why height has to be 578,
and why the browser renders in 1280x578 instead of 1920x1080
makes absolutely no sense. But oh well.
I set the height to be 590px just for good measure, although
the lowest value that will work is 578px.
 */
@media (max-width: 1280px) and (max-height: 590px) {
  .node {
    width: 23px;
    height: 23px;
    border: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin: 0;
  }
}

/*
  For some extremely stupid reason, with a 27" monitor with 1920x1080
  resolution, the body has a max-height of 937 pixels. So this is for
  rendering on a 27" 1920x1080 monitor.
  Set the value to 940 just so it looks prettier.
*/
@media (max-width: 1920px) and (max-height: 940px) {
  .node {
    width: 23px;
    height: 23px;
    border: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin: 0;
  }
}

@media (max-width: 2048px) and (max-height: 1100px) {
  .node {
    width: 23px;
    height: 23px;
    border: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin: 0;
  }
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
