.node {
  margin-left: 0px;
  margin-top: 0px;
  height: 20px;
  width: 20px;
  outline: 1px solid black;
  display: inline-block;
}

.node-visited {
  background-color: blue;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}
